<div class="my-5" *ngFor="let data of dataArr; let i = index">
  <div class="dropdown show">
    <a
      appShowMenu
      class="btn"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    > {{data.name}}
      <svg
        class="ellipse-idle"
        width="32"
        height="32"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g fill="#040505" fill-rule="evenodd">
          <circle cx="16" cy="22" r="2" />
          <circle cx="16" cy="22" r="2" />
          <circle cx="16" cy="22" r="2" />
          <circle opacity="0.05" cx="16" cy="16" r="16" />
        </g>
      </svg>
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action_{{ i }}</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
</div>
